html
	head
		title #{title}
		link(rel="stylesheet" href="/reset.css")
		link(rel="stylesheet" href="/iconmonstr/iconmonstr-iconic-font.css")
		style
			:sass
				body
					font-family: monospace
					padding: 64px
					color: #222

				.file

					&.super
						font-style: italic
						// padding-left: 24px


					&.show + .file.show
						margin-top: 10px

					&:not(.show)
						display: none

					.im
						margin-right: 4px
						font-size: 14px
						transform: translateY(.2em)

				header
					padding-bottom: 24px

					h1 
						font-size: 2em

					> * + div
						margin-top: 4px

					.filter
						color: #999

	body

		header
			//- h6 super-quick-static
			h1 content of 
			div #{dir}

			.filter
				input(type='checkbox')
				span show only html

		.files
			each file in files
				-var type = file.type === 'super-file' ? 'super' : 'normal'
				.file.show(class=type class='type-' + file.ext)
					a(href=file.name)

						if file.type === 'dir'
							span.im.im-folder
						else if file.type === 'super-file'
							span.im.im-flash
						else
							span.im.im-file

						span #{file.name}

		script.

			let filesDiv = document.querySelector('.files')
			let divs = document.querySelectorAll('.files .file')

			document.querySelector('.filter input').onchange = event => {

				let filter = event.target.checked

				while(filesDiv.firstElementChild)
					filesDiv.firstElementChild.remove()

				for (let div of divs)
					if (!filter || div.matches('.type-html'))
						filesDiv.appendChild(div)

			}
